In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd
import math
import numpy as np
import math

In [10]:
def remove_stop(text,language = 1):
    '''
    language:1 english text
    language:0 arabic text
    '''
    words = word_tokenize(text)
    if language:
        stopword = stopwords.words('english')
        return ' '.join([word for word in words if word not in stopword])
    else:
        stopword = stopwords.words('arabic')
        return ' '.join([word for word in words if word not in stopword])
text = 'The graduation project was led by Ahmed Ashraf Ahmed AlSayed Ali, and the team consisted of 8 people with the leader'
text1 = 'ليدر مشروع التخرج احمد اشرف احمد السيد على وكان تيم يتكون من 8 اشخاص مع الليدر'
print('After English Stopword Removal :\n',remove_stop(text))
print('After Arabic Stopword Removal :\n',remove_stop(text1,language=0))

After English Stopword Removal :
 The graduation project led Ahmed Ashraf Ahmed AlSayed Ali , team consisted 8 people leader
After Arabic Stopword Removal :
 ليدر مشروع التخرج احمد اشرف احمد السيد وكان تيم يتكون 8 اشخاص الليدر

In [11]:
def TFIDF(documents,stopword=0,language=1):
    if stopword:
        for document_n in range(len(documents)):
            documents[document_n]=remove_stop(documents[document_n],language=language)
    tfidf=TfidfVectorizer()
    documents_tfidf=tfidf.fit_transform(documents)
    documents_tfidf=pd.DataFrame.sparse.from_spmatrix(documents_tfidf)
    documents_tfidf.columns=tfidf.vocabulary_.keys()
    return documents_tfidf

In [17]:
documents=['The graduation project was led by Ahmed Ashraf Ahmed AlSayed Ali, and the team consisted of 8 people with the leader',
           'Books are a rich source of knowledge'
          ]
documents1=['الكتب هي مصدر ثري للمعرفة',
            'الصحة الجيدة تعتبر ثروة حقيقية'
           ]

In [18]:
#english tfidf
TFIDF(documents)

,the,graduation,project,was,led,by,ahmed,ashraf,alsayed,ali,...,consisted,of,people,with,leader,books,are,rich,source,knowledge
0,0.381342,0.190671,0.190671,0.190671,0.00000,0.190671,0.00000,0.190671,0.190671,0.190671,...,0.190671,0.135664,0.190671,0.190671,0.00000,0.00000,0.190671,0.572013,0.190671,0.190671
1,0.000000,0.000000,0.000000,0.000000,0.42616,0.000000,0.42616,0.000000,0.000000,0.000000,...,0.000000,0.303216,0.000000,0.000000,0.42616,0.42616,0.000000,0.000000,0.000000,0.000000

In [19]:
#arabic tfidf
TFIDF(documents1)

,الكتب,هي,مصدر,ثري,للمعرفة,الصحة,الجيدة,تعتبر,ثروة,حقيقية
0,0.000000,0.000000,0.447214,0.000000,0.000000,0.447214,0.000000,0.447214,0.447214,0.447214
1,0.447214,0.447214,0.000000,0.447214,0.447214,0.000000,0.447214,0.000000,0.000000,0.000000

In [20]:
#english tfidf and remove stopwords
TFIDF(documents,stopword=1)

,the,graduation,project,led,ahmed,ashraf,alsayed,ali,team,consisted,people,leader,books,rich,source,knowledge
0,0.516398,0.258199,0.258199,0.258199,0.0,0.258199,0.258199,0.0,0.258199,0.258199,0.258199,0.258199,0.0,0.0,0.258199,0.258199
1,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000,0.5,0.5,0.000000,0.000000

In [21]:
#arabic tfidf and remove stopwords
TFIDF(documents1,stopword=1,language=0)

      الكتب      مصدر  ثري   للمعرفة     الصحة  الجيدة     تعتبر  ثروة  حقيقية
0  0.000000  0.000000  0.5  0.000000  0.000000     0.5  0.000000   0.5     0.5
1  0.447214  0.447214  0.0  0.447214  0.447214     0.0  0.447214   0.0     0.0

In [24]:
#from scartch
A = word_tokenize(documents[0])
B = word_tokenize(documents[1])

In [25]:
print(A)
print('*'*100)
print(B)

['The', 'graduation', 'project', 'led', 'Ahmed', 'Ashraf', 'Ahmed', 'AlSayed', 'Ali', ',', 'team', 'consisted', '8', 'people', 'leader']
****************************************************************************************************
['Books', 'rich', 'source', 'knowledge']

In [28]:
words = set(A).union(B)
print(words)

{'consisted', 'rich', 'team', 'knowledge', 'AlSayed', 'led', '8', 'Books', 'people', 'Ashraf', 'The', 'Ali', 'source', 'Ahmed', ',', 'project', 'graduation', 'leader'}

In [37]:
numOfWordsA = dict.fromkeys(words, 0)
for word in A:
    numOfWordsA[word] += 1
numOfWordsA

{'consisted': 1,
 'rich': 0,
 'team': 1,
 'knowledge': 0,
 'AlSayed': 1,
 'led': 1,
 '8': 1,
 'Books': 0,
 'people': 1,
 'Ashraf': 1,
 'The': 1,
 'Ali': 1,
 'source': 0,
 'Ahmed': 2,
 ',': 1,
 'project': 1,
 'graduation': 1,
 'leader': 1}

In [38]:
numOfWordsB = dict.fromkeys(words, 0)
for word in B:
    numOfWordsB[word] += 1
numOfWordsB

{'consisted': 0,
 'rich': 1,
 'team': 0,
 'knowledge': 1,
 'AlSayed': 0,
 'led': 0,
 '8': 0,
 'Books': 1,
 'people': 0,
 'Ashraf': 0,
 'The': 0,
 'Ali': 0,
 'source': 1,
 'Ahmed': 0,
 ',': 0,
 'project': 0,
 'graduation': 0,
 'leader': 0}

In [39]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [40]:
tfA = computeTF(numOfWordsA,A)
tfA

{'consisted': 0.06666666666666667,
 'rich': 0.0,
 'team': 0.06666666666666667,
 'knowledge': 0.0,
 'AlSayed': 0.06666666666666667,
 'led': 0.06666666666666667,
 '8': 0.06666666666666667,
 'Books': 0.0,
 'people': 0.06666666666666667,
 'Ashraf': 0.06666666666666667,
 'The': 0.06666666666666667,
 'Ali': 0.06666666666666667,
 'source': 0.0,
 'Ahmed': 0.13333333333333333,
 ',': 0.06666666666666667,
 'project': 0.06666666666666667,
 'graduation': 0.06666666666666667,
 'leader': 0.06666666666666667}

In [42]:
tfB = computeTF(numOfWordsB, B)
tfB

{'consisted': 0.0,
 'rich': 0.25,
 'team': 0.0,
 'knowledge': 0.25,
 'AlSayed': 0.0,
 'led': 0.0,
 '8': 0.0,
 'Books': 0.25,
 'people': 0.0,
 'Ashraf': 0.0,
 'The': 0.0,
 'Ali': 0.0,
 'source': 0.25,
 'Ahmed': 0.0,
 ',': 0.0,
 'project': 0.0,
 'graduation': 0.0,
 'leader': 0.0}

In [44]:
def computeIDF(documents):
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [46]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'consisted': 0.6931471805599453,
 'rich': 0.6931471805599453,
 'team': 0.6931471805599453,
 'knowledge': 0.6931471805599453,
 'AlSayed': 0.6931471805599453,
 'led': 0.6931471805599453,
 '8': 0.6931471805599453,
 'Books': 0.6931471805599453,
 'people': 0.6931471805599453,
 'Ashraf': 0.6931471805599453,
 'The': 0.6931471805599453,
 'Ali': 0.6931471805599453,
 'source': 0.6931471805599453,
 'Ahmed': 0.6931471805599453,
 ',': 0.6931471805599453,
 'project': 0.6931471805599453,
 'graduation': 0.6931471805599453,
 'leader': 0.6931471805599453}

In [47]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [48]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfA

{'consisted': 0.046209812037329684,
 'rich': 0.0,
 'team': 0.046209812037329684,
 'knowledge': 0.0,
 'AlSayed': 0.046209812037329684,
 'led': 0.046209812037329684,
 '8': 0.046209812037329684,
 'Books': 0.0,
 'people': 0.046209812037329684,
 'Ashraf': 0.046209812037329684,
 'The': 0.046209812037329684,
 'Ali': 0.046209812037329684,
 'source': 0.0,
 'Ahmed': 0.09241962407465937,
 ',': 0.046209812037329684,
 'project': 0.046209812037329684,
 'graduation': 0.046209812037329684,
 'leader': 0.046209812037329684}

In [49]:
tfidfB = computeTFIDF(tfB, idfs)
tfidfB

{'consisted': 0.0,
 'rich': 0.17328679513998632,
 'team': 0.0,
 'knowledge': 0.17328679513998632,
 'AlSayed': 0.0,
 'led': 0.0,
 '8': 0.0,
 'Books': 0.17328679513998632,
 'people': 0.0,
 'Ashraf': 0.0,
 'The': 0.0,
 'Ali': 0.0,
 'source': 0.17328679513998632,
 'Ahmed': 0.0,
 ',': 0.0,
 'project': 0.0,
 'graduation': 0.0,
 'leader': 0.0}

In [50]:
df = pd.DataFrame([tfidfA, tfidfB])
df.head()

,consisted,rich,team,knowledge,AlSayed,led,8,Books,people,Ashraf,The,Ali,source,Ahmed,",",project,graduation,leader
0,0.04621,0.000000,0.04621,0.000000,0.04621,0.04621,0.04621,0.000000,0.04621,0.04621,0.04621,0.04621,0.000000,0.09242,0.04621,0.04621,0.04621,0.04621
1,0.00000,0.173287,0.00000,0.173287,0.00000,0.00000,0.00000,0.173287,0.00000,0.00000,0.00000,0.00000,0.173287,0.00000,0.00000,0.00000,0.00000,0.00000